In [1]:
#QUESTION 1
#importing regex module
import regex as re

text='Python Exercises, PHP exercises.'
#pattern to replace all occrrences of space, comma or dot
pattern=r'[\s+,.]'

#substituting the pattern with colon using re.sub()
result=re.sub(pattern,':',text)
#printing the result
print(result)

Python:Exercises::PHP:exercises:

In [60]:
#QUESTION 2
#importing pandas library for creating dataframe
import pandas as pd

#creating a dataframe using dictionary
df= pd.DataFrame({'SUMMARY':['hello, world!','XXXXX test','123four, five:; six...']})

#pattern to remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words
pattern =r'[A-Z0-9\W]'

#using series.str.replace() method to replace the pattern to get expected output
df['SUMMARY'].str.replace(pattern,' ',regex=True)

0             hello  world
1                      test
2       four  five   six
Name: SUMMARY, dtype: object

In [4]:
#QUESTION 3
import re

#creating a function to find words with atleast four characters
def four_char_words(string):
    
    #\b indicates start and end,\w{4,} indicates 4 or more word characters
    pattern=re.compile(r'\b\w{4,}\b')
    result=pattern.findall(string) #findall() to find all the pattern matches
    return(result)

#Using a sample input to test the function
sample="We are very ready and we love to watch movies and games"

#calling the function
result=four_char_words(sample)
print(result)

['very', 'ready', 'love', 'watch', 'movies', 'games']

In [69]:
#QUESTION 4
import re

#creating a function to find all words with three,four, and five characters
def multi_char_words(text):
    
    #\b indicates start and end,\w{3,5} indicates range from 3 to 5 word characters
    pattern=re.compile(r'\b\w{3,5}\b')
    result=pattern.findall(text) #findall() to find all the pattern matches
    return(result)

#Using a sample input to test the function
sample="We are very ready and we love to watch movies and games"

#calling the function
result=multi_char_words(sample)
print(result)

['are', 'very', 'ready', 'and', 'love', 'watch', 'and', 'games']

In [90]:
#QUESTION 5
import re

#creating a function to remove parenthesis in a list of strings
def remove_par(text):
    pattern=re.compile(r'\(|\)') #pattern to match ( or )
    
    #for loop is used to iterate every element in the list of strings and substitute the matching pattern
    new_output=[pattern.sub('',string)for string in text] 
    return new_output

#list of sample text strings
sample_text=["example(.com)", "hr@fliprobo(.com)", "github(.com)", "Hello (Data Science World)", "Data (Scientist)"] 

#calling the function to remove parenthesis
new_output=remove_par(sample_text)

#for loop executed to iterate through every string in sample text
for string in new_output:
    print(string)

example.com
hr@fliprobo.com
github.com
Hello Data Science World
Data Scientist

In [22]:
#QUESTION 6
import re
#read text from file
with open("sample_text1.txt")as file:
    #pattern to remove parenthesis area
    pattern=r'\([^()]*\)'
    
    #Remove parenthesis from each string in the list by re.sub()
    for line in file:
        new_text= re.sub(pattern,'',line)
        print(new_text) #printing the new text

["example ", "hr@fliprobo ", "github ", "Hello ", "Data "]

In [24]:
#Question 7
import re

sample_text='ImportanceOfRegularExpressionsInPython'

# pattern finds uppercase letters with either 0 or 1 repeatation of lowercase letters
result=re.findall(r'[A-Z][a-z]*',sample_text)
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [7]:
#QUESTION 8
import re

#creating a function to insert spaces
def insert_spaces(text):
    
    # ?= Matches a group after the main expression to detect digits but does not include it in result.
    pattern= r'(?=\d+)'
    #substituting the pattern with ' ' to create spaces
    result=re.sub(pattern,' ',text)
    return(result)

sample_text="RegularExpression1IsAn2ImportantTopic3InPython"
result= insert_spaces(sample_text) #calling the function
print(result)

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [8]:
#QUESTION 9
import re

def insert_spaces(text):
    
    #?= Matches a group after the main expression to detect digits or capital letter but does not include it in the result.
    pattern= r'(?=\d+|[A-Z])'
     #substituting the pattern with ' ' to create spaces
    result=re.sub(pattern,' ',text)
    return(result)

sample_text="RegularExpression1IsAn2ImportantTopic3InPython"
result= insert_spaces(sample_text)#calling the function
print(result)

 Regular Expression 1 Is An 2 Important Topic 3 In Python

In [38]:
#QUESTION 10
import pandas as pd

#Reading the data from csv file
df=pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")

# pattern to extract the first 6 letters 
pattern=r'(\w{6})'

#Creating a dataframe to extract Country column and renaming it as first_five_letters
mask=df["Country"].str.extract(pattern).rename(columns={0: 'first_five_letters'}) 
mask

    first_five_letters
0               Switze
1               Icelan
2               Denmar
3               Norway
4               Canada
..                 ...
153             Rwanda
154                NaN
155                NaN
156             Burund
157                NaN

[158 rows x 1 columns]

In [52]:
#QUESTION 11
import re
def only_w(string):
    #string that contains only upper and lowercase letters, numbers, and underscores.
    pattern=r'^\w+$'
    
    #for loop is used to iterate every element in the list of strings and check the matching pattern
    result=[re.match(pattern,s)for s in string]
    return(result)

#sample string
string1 = ["Ask_String000","Tw_not_45", "1Q@String"]
result=only_w(string1) #calling the function

#iterating over the list in string1
for x in result:
    print(x)

<re.Match object; span=(0, 13), match='Ask_String000'>
<re.Match object; span=(0, 9), match='Tw_not_45'>
None

In [29]:
#QUESTION 12
import re

#creating a function with two arguments: string and specific number
def start_with_no(string,specific_no):
    
    #pattern to match string that starts with 11 and followed by any non digit with 0 or more occurence
    pattern=r'^(11)\D*'
    result=re.match(pattern,string)
    return result

#sample string to check 
string2="11AAAA"

#specific number is 11
result=start_with_no(string2,11)
print(result)

<re.Match object; span=(0, 6), match='11AAAA'>

In [91]:
#QUESTION 13
import re
#creating a function to remove leading zeroes from IP address
def remove_zeroes(address):
    
    #pattern starting with 0(one or more occurence),followed by digit after leading zero and captures it
    pattern=r'\b0+(\d)'
    #substituted by r'\1' refers to captured digit and replaces the leading zero
    result=re.sub(pattern,r'\1',address)
    return result

#sample string
string3= "112.0123.033"
result=remove_zeroes(string3)#calling the function
print(result)

112.123.33

In [34]:
#QUESTION 14
import re
#read text from txt file
with open("sample_text.txt")as file:
    #pattern to match a date string in the form of Month name followed by day number and year 
    #?: indicates non capturing groups
    pattern=r'\b(?:January|February|March|April|May|June|July|August|September|October|November|December)\s+\d{1,2}(?:st|nd|rd|th)\s+\d{4}\b'
    
    #find pattern using findall() 
    for line in file:
        date=re.findall(pattern,line)
        print(date) #printing date

['August 15th 1947']

In [37]:
#QUESTION 15
sample_text='The quick brown fox jumps over the lazy dog.'

#to match any searched literal by using |
#findall() gives the matched words
x=re.findall("(fox|dog|horse)",sample_text)
print(x)

['fox', 'dog']

In [8]:
#QUESTION 16
sample_text='The quick brown fox jumps over the lazy dog.'

#search() gives the match and also the location of the matched word
x=re.search("fox",sample_text)
print(x)

<re.Match object; span=(16, 19), match='fox'>

In [10]:
#QUESTION 17
sample_text='Python exercises, PHP exercises, C# exercises'

#pattern to find substring within a string
pattern=r'(exercises)'

#findall() showes all the occurences of the substring
x=re.findall(pattern,sample_text)
print(x)

['exercises', 'exercises', 'exercises']

In [51]:
#QUESTION 18
sample_text='Python exercises, PHP exercises, C# exercises'

#pattern to find substring within a string
pattern=r'exercises'

#search() gives the match and also the position of the matched word
match=re.search(pattern,sample_text)
print(match)

<re.Match object; span=(7, 16), match='exercises'>

In [31]:
#QUESTION 19
import re

#to match yyyy-mm-dd format
pattern=r'(\b\d{4})-(\d{2})-(\d{2}\b)'
input_date="1999-22-13"

#substituting the groups with the pattern
output_date=re.sub(pattern,r'\3-\2-\1',input_date)

print(input_date) #yyyy-mm-dd date format
print(output_date) #dd-mm-yyyy date format

1999-22-13
13-22-1999

In [40]:
#QUESTION 20
import re

def find_dec_num(string):
    
    #starts from digit followed by a decimal point(.) followed by digits for range 1 to 2
    pattern = re.compile(r'\b\d+\.\d{1,2}\b')
    dec_num = pattern.findall(string) #finding all the matched occurences
    return dec_num

sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
dec_num = find_dec_num(sample_text) #calling the function
print(dec_num)

['01.12', '145.8', '3.01', '27.25', '0.25']

In [5]:
#QUESTION 21
msg="if Eating 3 bananas and 1 apple for 2 days"

#finditer() matches objects based on pattern along with their start and end positions.
x=re.finditer(r"\d+",msg)

#for loop to seperate the output numbers
for match in x:
    print(match)

<re.Match object; span=(10, 11), match='3'>
<re.Match object; span=(24, 25), match='1'>
<re.Match object; span=(36, 37), match='2'>

In [32]:
#QUESTION 22
def max_value(string):
    
    #matches digits
    value=re.findall(r'\b\d+\b',string)
    
    # map() to convert each string element to an integer
    # then used max() to find the maximum value among those integers 
   
    maximum_value=max(map(int,value))
    
    # maximum_value = max(value) """Another method"""
    return maximum_value

sample_text='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
result=max_value(sample_text)                   
print(result)

950

In [35]:
#QUESTION 23
import re
def insert_spc(msg):
    
    #?= Matches a group after the main expression to detect capital letter but doesnt include it in result.
    pattern= r'(?=[A-Z])'
    
    #substituting pattern with " " to create space
    result=re.sub(pattern,' ',msg)
    
    #result=re.sub(r'([a-z])([A-Z])',r'\1 \2',msg) """ANOTHER METHOD"""
    return(result)

sample_text="RegularExpressionIsAnImportantTopicInPython"
result= insert_spc(sample_text) #calling the function
print(result)

Regular Expression Is An Important Topic In Python

In [24]:
#QUESTION 24
import re
def find_seq(text):
    
    #starts with uppercase letters followed by 1 or more occurence of lowercase letters
    pattern= r'(\b[A-Z][a-z]+)'
    
    #findall() matches all the occurences of match
    result=re.findall(pattern,text)
    return(result)

sample_text="Regular Expression Is An Important Topic In Python"
result= find_seq(sample_text)
print(result)

['Regular', 'Expression', 'Is', 'An', 'Important', 'Topic', 'In', 'Python']

In [48]:
#QUESTION 25
def remove_dup(text):
   
   
   #to remove continuous duplicate words 
    result=re.sub(r'\b(\w+)(?:\W+\1\b)+',r'\1',text)
    #result=re.sub(r'\b(\w+)( \1)+\b',r'\1',text) """Another method"""
    return result

sample_text="Hello hello world world"
new_output=remove_dup(sample_text) 

print(new_output)
#removes world as its duplicated
#skips Hello hello as they have different cases

Hello hello world

In [29]:
#QUESTION 26
def end_with_isalnum(string):
    
    #ending with alphanumeric character
    pattern=r'\w+$'
    result=re.findall(pattern,string)
    return result
#string ending with alphanumeric character
sample_text= "We are in Ab123"

#string ending with non alphanumeric character
sample_text2="we are in ab!"

output1=end_with_isalnum(sample_text)
output2=end_with_isalnum(sample_text2)

#checking the output of both cases
print(output1) #only string ending with alphanumeric character gives output
print(output2)

['Ab123']
[]

In [41]:
#QUESTION 27
def find_hash(text):
    
    #starts with #, followed by word characters
    pattern= r'\#\w*'
    result=re.findall(pattern,text)
    return(result)

sample_text="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
result= find_hash(sample_text)
print(result)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [58]:
#QUESTION 28
def remove_symbols(text):
    
    #match starting from <U,followed by+,and word characters of 4 word limit and end with >
    pattern= r'\<U\+\w{4}\>'
    result=re.sub(pattern,'',text)
    return(result)

sample_text="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting #demonetization  are all different party leaders"
result= remove_symbols(sample_text)#calling the function
print(result)

@Jags123456 Bharat band on 28??<ed><ed>Those who are protesting #demonetization  are all different party leaders

In [44]:
#QUESTION 29

#open() method to use txt file
with open("sample_text2.txt")as file:
    
    #matches starting word char limit 2,-,word char limit 2,-,word char limit 4
    pattern=r'\b\w{2}-\w{2}-\w{4}\b'
    
    #iterating file to find all matches
    for text in file:
        date=re.findall(pattern,text)
        print(date)

['12-09-1992', '15-12-1999']

In [52]:
#QUESTION 30
def remove_words(text):
    
    #matches starting with word char ranging 2-4 or digits ranging 2-4
    pattern=re.compile(r'\b\w{2,4}\b')

    #pattern=re.compile(r'^\w{2,4}$|\d{2,4}$') """Another method"""
    
    #sub() pattern with ''
    result=pattern.sub('',text)
    return result

sample_text="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
new_output=remove_words(sample_text) #calling the function
print(new_output)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.