In [1]:
#importing libraries
import selenium
import pandas as pd
from selenium import webdriver
from time import sleep
import re

#importing requires exceptions which needs to handled
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException
from selenium.webdriver.common.by import By
from selenium.common.exceptions import ElementClickInterceptedException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

## Question 1

In [113]:
#automating chrome browser
driver=webdriver.Chrome()
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
driver.maximize_window()

In [114]:
pos=[]
video=[]
uploader=[]
date_=[]
views=[]

#giving delay until element is located
WebDriverWait(driver, 4).until(EC.presence_of_element_located((By.XPATH,"/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]/thead/tr/th[1]")))

#string from 1 to 30 
pos= [str(i) for i in range(1, 31)]
    
#scraping video name

try:
    for name in driver.find_elements(By.XPATH,"//div[@id='mw-content-text']/div/table[2]/tbody/tr/td[1]"):
        video.append(name.text)
except Exception:
    video.append('-')
    
#scraping artist name

try:
    for art in driver.find_elements(By.XPATH,"//div[@id='mw-content-text']/div/table[2]/tbody/tr/td[2]"):
        uploader.append(art.text)
except Exception:
    uploader.append('-')
    
#scraping date

try:
    for d in driver.find_elements(By.XPATH,"//div[@id='mw-content-text']/div/table[2]/tbody/tr/td[4]"):
        date_.append(d.text)
except Exception:
    date_.append('-')
    
#scraping views

try:
    for v in driver.find_elements(By.XPATH,"//div[@id='mw-content-text']/div/table[2]/tbody/tr/td[3]"):
        views.append(v.text)
except Exception:
    views.append('-')  
    
driver.quit()

In [115]:
df_1=pd.DataFrame({'Rank':pos,'Video Name':video,'Artist':uploader,'Upload Date':date_,'Views (billions)':views})
df_1

,Rank,Video Name,Artist,Upload Date,Views (billions)
0,1,"""Axel F""[38]",Crazy Frog,"June 16, 2009",4.34
1,2,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.96
2,3,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.09
3,4,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.62
4,5,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.97
5,6,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.55
6,7,"""Dark Horse""[49]",Katy Perry,"February 20, 2014",3.67
7,8,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.38
8,9,"""Faded""[52]",Alan Walker,"December 3, 2015",3.59
9,10,"""Gangnam Style""[31]",Psy,"July 15, 2012",5.05
10,11,"""Girls Like You""[53]",Maroon 5,"May 31, 2018",3.56
11,12,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.73
12,13,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.87
13,14,"""Lakdi Ki Kathi""[43]",Jingle Toons,"June 14, 2018",3.91
14,15,"""Lean On""[54]",Major Lazer Official,"March 22, 2015",3.55
15,16,"""Learning Colors ‚Äì Colorful Eggs on a Farm""[30]",Miroshka TV,"February 27, 2018",5.07
16,17,"""Let Her Go""[51]",Passenger,"July 25, 2012",3.61
17,18,"""Masha and the Bear ‚Äì Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.58
18,19,"""Perfect""[50]",Ed Sheeran,"November 9, 2017",3.67
19,20,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.70
20,21,"""Roar""[42]",Katy Perry,"September 5, 2013",3.96
21,22,"""See You Again""[22]",Wiz Khalifa,"April 6, 2015",6.17
22,23,"""Shape of You""[19]",Ed Sheeran,"January 30, 2017",6.20
23,24,"""Shree Hanuman Chalisa""[48]",T-Series Bhakti Sagar,"May 10, 2011",3.69
24,25,"""Sorry""[45]",Justin Bieber,"October 22, 2015",3.77
25,26,"""Sugar""[39]",Maroon 5,"January 14, 2015",4.00
26,27,"""Thinking Out Loud""[46]",Ed Sheeran,"October 7, 2014",3.73
27,28,"""Uptown Funk""[29]",Mark Ronson,"November 19, 2014",5.15
28,29,"""Waka Waka (This Time for Africa)""[44]",Shakira,"June 4, 2010",3.85
29,30,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.88

## Question 2

In [17]:
#automating chrome browser
driver=webdriver.Chrome()
driver.get("https://www.bcci.tv/")
driver.maximize_window()

WebDriverWait(driver, 4).until(EC.presence_of_element_located((By.XPATH,"/html/body/header/div[3]/div[2]/ul/div[1]/a[2]")))

# Locating the international fixture page through code.
fixture_tab=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
fixture_tab.click()

In [15]:
#creating empty Lists

series=[]
place=[]
date=[]
time=[]
 

#scraping the Series Name

try:
    for name in driver.find_elements(By.XPATH,"//h5[@class='match-tournament-name ng-binding']"):
        series.append(name.text)
except Exception:
    series.append('-')
    
#scraping the Place Name

try:
    venue= driver.find_elements(By.XPATH,"//div[@class='match-place ng-scope']")
    for v in venue:
        place.append(v.text)
except Exception:
    place.append('-')
        
#scraping the Date

try:
    for date_ in driver.find_elements(By.XPATH,"//div[@class='match-dates ng-binding']"):
        date.append(date_.text)
except Exception:
    date.append('-')
    
#scraping the Time

try:
    for time_ in driver.find_elements(By.XPATH,"//div[@class='match-dates ng-binding']"):
        time.append(time_.text)
except Exception:
    time.append('-')

In [16]:
df_2=pd.DataFrame({'Series Name':series,'Place':place,'Date':date,'Time':time})
df_2

,Series Name,Place,Date,Time
0,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium, ...","7 MARCH, 2024","7 MARCH, 2024"
1,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","6 JULY, 2024","6 JULY, 2024"
2,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","7 JULY, 2024","7 JULY, 2024"
3,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","10 JULY, 2024","10 JULY, 2024"
4,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","13 JULY, 2024","13 JULY, 2024"
5,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","14 JULY, 2024","14 JULY, 2024"

## Question 3

In [27]:
#automating chrome browser
driver=webdriver.Chrome()
driver.get("http://statisticstimes.com/")
driver.maximize_window()

In [28]:
economy_tab=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button")
economy_tab.click()
sleep(2)
india_tab=driver.find_element(By.XPATH,"(//div[@class='dropdown-content'])[2]/a[3]")
india_tab.click()
sleep(2)
state_tab=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
state_tab.click()

In [30]:
rank=[]
state=[]
gsdp_1=[]
gsdp_2=[]
share=[]
gdp=[]
count=34

#giving delay until element is located
WebDriverWait(driver, 4).until(EC.presence_of_element_located((By.XPATH,"/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr[1]/td[1]")))

#scraping rank

try:
    for a in driver.find_elements(By.XPATH,"//td[@class='data1']"):
        #so that only 33 items are appended of gsdp table
        if len(rank)>=count:
            break
        else:    
            rank.append(a.text)
except Exception:
    date.append('-')
    
#scraping state

try:
    for b in driver.find_elements(By.XPATH,"//td[@class='name']"):
        if len(state)>=count:
            break
        else:    
            state.append(b.text)
except Exception:
    state.append('-')
    
    
#scraping gsdp 22-23

try:
    for c in driver.find_elements(By.XPATH,"//td[@class='data'][1]"):
        if len(gsdp_1)>=count:
            break
        else:    
            gsdp_1.append(c.text)
except Exception:
    gsdp_1.append('-')
    
#scraping gsdp 21-22

try:
    for d in driver.find_elements(By.XPATH,"//td[@class='data'][5]"):
        if len(gsdp_2)>=count:
            break
        else:    
            gsdp_2.append(d.text)
except Exception:
    gsdp_2.append('-')    
    
    
#scraping share 21-22

try:
    for e in driver.find_elements(By.XPATH,"//td[@class='data'][2]"):
        if len(share)>=count:
            break
        else:    
            share.append(e.text)
except Exception:
    share.append('-')
    
#scraping gdp($ billion)

try:
    for f in driver.find_elements(By.XPATH,"//td[@class='data'][3]"):
        if len(gdp)>=count:
            break
        else:    
            gdp.append(f.text)
except Exception:
    gdp.append('-')    
    

driver.quit()

In [31]:
df_3=pd.DataFrame({'Rank':rank,'State':state,'Share 22-21':share,'GSDP 22-23':gsdp_1,'GSDP 21-22':gsdp_2,'GDP($ billion)':gdp})
df_3

,Rank,State,Share 22-21,GSDP 22-23,GSDP 21-22,GDP($ billion)
0,1,Maharashtra,13.24%,-,"2,027,971",417.163
1,2,Tamil Nadu,8.82%,"2,364,514","1,343,287",278.011
2,3,Uttar Pradesh,8.41%,"2,257,575","1,204,660",265.024
3,4,Karnataka,8.36%,"2,241,368","1,229,713",263.440
4,5,Gujarat,8.25%,-,"1,372,204",259.996
5,6,West Bengal,5.81%,"1,554,992","787,758",183.068
6,7,Rajasthan,5.19%,"1,413,620","738,922",163.507
7,8,Madhya Pradesh,4.84%,"1,322,821","600,689",152.494
8,9,Andhra Pradesh,4.83%,"1,317,728","704,889",152.185
9,10,Telangana,4.81%,"1,313,391","674,371",151.523
10,11,Kerala,3.97%,-,"572,747",125.157
11,12,Delhi,3.85%,"1,043,759","597,765",121.422
12,13,Haryana,3.71%,"994,154","568,086",116.862
13,14,Odisha,2.86%,"774,869","432,960",90.047
14,15,Bihar,2.77%,"751,396","399,930",87.284
15,16,Punjab,2.62%,"673,107","433,769",82.442
16,17,Assam,1.76%,"493,167","262,523",55.381
17,18,Chhattisgarh,1.73%,"457,608","267,681",54.550
18,19,Jharkhand,1.53%,"393,722","243,348",48.167
19,20,Uttarakhand,1.16%,"302,621","193,412",36.530
20,21,Jammu & Kashmir-UT,0.85%,"227,927","124,728",26.833
21,22,Himachal Pradesh,0.75%,"195,405","126,433",23.659
22,23,Goa,0.35%,-,"55,548",11.087
23,24,Tripura,0.27%,"72,636","39,487",8.396
24,25,Chandigarh,0.19%,-,"30,287",6.125
25,26,Puducherry,0.19%,-,"27,834",5.938
26,27,Meghalaya,0.17%,"42,697","24,267",5.206
27,28,Sikkim,0.16%,"42,756","20,728",5.041
28,29,Manipur,0.16%,-,"20,515",4.912
29,30,Arunachal Pradesh,0.15%,-,"19,801",4.714
30,31,Nagaland,0.14%,-,"18,363",4.283
31,32,Mizoram,0.12%,-,"18,494",3.735
32,33,Andaman & Nicobar Islands,0.04%,-,"7,172",1.392
33,,India,"23,471,012","27,240,712","16,006,425",

## Question 4

In [46]:
#automating chrome browser
driver=webdriver.Chrome()
driver.get("https://github.com/")
driver.maximize_window()

In [47]:
#automating path from open source tab to trending repositories
os_tab=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
os_tab.click() 
sleep(2)
trend_tab=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a")
trend_tab.click()

In [34]:
urls=[]
title=[]

#scraping urls and repository titles
for url in driver.find_elements(By.XPATH,"//h2[@class='h3 lh-condensed']/a"):
    urls.append(url.get_attribute('href'))
    
for t in driver.find_elements(By.XPATH,"//h2[@class='h3 lh-condensed']/a"):
    title.append(t.text)

In [35]:
print(len(urls),len(title))

25 25

In [49]:
desp=[]
contributor_count=[]
lang=[]

#iterating the urls
for i in urls:
    driver.get(i)
    sleep(2)
    
    #scraping repository description
    try:
        desc_ = driver.find_elements(By.XPATH, "//p[@class='f4 my-3']")
        if desc_:
            for desc in desc_:
                desp.append(desc.text)
        else:
            desp.append('-')
    except Exception:
        print('Error1')
        
    #scraping contributors count    
    try:
        elements = driver.find_elements(By.XPATH,"//a[contains(text(),'Contributors')]/span")
        if elements:    
            for contri_count in elements:
                contributor_count.append(contri_count.text)
        else:
            contributor_count.append('-')
    except Exception:
        print('Error2')
    
    #scraping languages
    try:
        #creatings sep list to store various languages of a single repository
        items=[]
        for item in driver.find_elements(By.XPATH,"//span[@class='color-fg-default text-bold mr-1']"):
            items.append(item.text)
        lang.append(items)       
    except Exception:
        lang.append('-')

driver.quit()

In [51]:
df_4=pd.DataFrame({'Repository Title':title,'Repository Description':desp,'Contributors Count':contributor_count,'Language':lang})
df_4

,Repository Title,Repository Description,Contributors Count,Language
0,cloudflare / pingora,"A library for building fast, reliable and evol...",29,[Rust]
1,Lissy93 / web-check,üïµÔ∏è‚Äç‚ôÇÔ∏è All-in-one OSINT tool for analysing any ...,14,"[TypeScript, JavaScript, HTML, Other]"
2,polyfillpolyfill / polyfill-service,Automatic polyfill service.,168,[]
3,HumanAIGC / EMO,-,-,[]
4,cloudcommunity / Free-Certifications,A curated list of free courses & certifications.,69,[]
5,yuzu-emu / yuzu,Nintendo Switch emulator,298,"[C++, Kotlin, CMake, GLSL, NASL, Python, Other]"
6,microsoft / generative-ai-for-beginners,"18 Lessons, Get Started Building with Generati...",50,"[Jupyter Notebook, Python, TypeScript, Other]"
7,HumanAIGC / AnimateAnyone,Animate Anyone: Consistent and Controllable Im...,-,[]
8,kyegomez / BitNet,"Implementation of ""BitNet: Scaling 1-bit Trans...",4,[Python]
9,dockur / windows,Windows in a Docker container.,4,"[Shell, Dockerfile]"
10,FuelLabs / fuel-core,Rust full node implementation of the Fuel v2 p...,48,"[Rust, Other]"
11,dair-ai / ML-Papers-of-the-Week,üî•Highlighting the top ML papers every week.,7,[]
12,1c7 / chinese-independent-developer,üë©üèø‚Äçüíªüë®üèæ‚Äçüíªüë©üèº‚Äçüíªüë®üèΩ‚Äçüíªüë©üèª‚Äçüíª‰∏≠ÂõΩÁã¨Á´ãÂºÄÂèëËÄÖÈ°πÁõÆÂàóË°® -- ÂàÜ‰∫´Â§ßÂÆ∂ÈÉΩÂú®ÂÅö‰ªÄ‰πà,137,[]
13,memorysafety / river,This repository is the future home of the Rive...,2,[]
14,Avaiga / taipy,Turns Data and AI algorithms into production-r...,31,"[Python, TypeScript, CSS, JavaScript, Jupyter ..."
15,aishwaryanr / awesome-generative-ai-guide,A one stop repository for generative AI resear...,2,[]
16,wazuh / wazuh,Wazuh - The Open Source Security Platform. Uni...,288,"[C, Python, C++, CMake, Shell, Makefile, Other]"
17,myshell-ai / MeloTTS,High-quality multi-lingual text-to-speech libr...,6,"[Python, Jupyter Notebook, Dockerfile]"
18,pure-admin / vue-pure-admin,üî• ÂÖ®Èù¢ESM+Vue3+Vite+Element-Plus+TypeScriptÁºñÂÜôÁöÑ‰∏ÄÊ¨æ...,56,"[Vue, TypeScript, SCSS, HTML, CSS, JavaScript]"
19,python-poetry / poetry,Python packaging and dependency management mad...,544,"[Python, HTML]"
20,microsoft / unilm,Large-scale Self-supervised Pre-training Acros...,56,"[Python, Jupyter Notebook, Shell, Cuda, C++, C..."
21,redis / ioredis,"üöÄ A robust, performance-focused, and full-feat...",150,"[TypeScript, JavaScript, Other]"
22,FuelLabs / fuels-rs,Fuel Network Rust SDK,39,"[Rust, Shell]"
23,ossu / computer-science,üéì Path to a free self-taught education in Comp...,136,[]
24,embedchain / embedchain,The Open Source RAG framework,83,"[Python, Jupyter Notebook, TypeScript, Makefil..."

## Question 5

In [2]:
#automating chrome browser
driver=webdriver.Chrome()
driver.get("https://www.billboard.com/")
driver.maximize_window()

In [53]:
chart_tab=driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a")
chart_tab.click()
sleep(2)
hot_tab=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a")
hot_tab.click()

In [4]:
song=[]
artist=[]
lw_rank=[]
peak_rank=[]
weeks=[]

WebDriverWait(driver, 4).until(EC.presence_of_element_located((By.XPATH,"/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[1]/h3")))

#scraping Song Name
try:
    for name in driver.find_elements(By.XPATH,"//div[@class='u-max-width-970 lrv-u-margin-lr-auto']/div[2]/div/ul/li[4]/ul/li/h3"):
        song.append(name.text)
except Exception:
    song.append('-')
    
        
#scraping artist name

try:
    for art in driver.find_elements(By.XPATH,"//div[@class='u-max-width-970 lrv-u-margin-lr-auto']/div[2]/div/ul/li[4]/ul/li[1]/span[1]"):
        artist.append(art.text.replace('¬•$:',''))
except Exception:
    artist.append('-')
    
#scraping last week position

try:
    for lw in driver.find_elements(By.XPATH,"//div[@class='u-max-width-970 lrv-u-margin-lr-auto']/div[2]/div/ul/li[4]/ul/li[4]/span"):
        lw_rank.append(lw.text)
except Exception:
    lw_rank.append('-')
    
#scraping peak position

try:
    for peak in driver.find_elements(By.XPATH,"//div[@class='u-max-width-970 lrv-u-margin-lr-auto']/div[2]/div/ul/li[4]/ul/li[5]/span"):
        peak_rank.append(peak.text)
except Exception:
    peak_rank.append('-')
    
#scraping weeks on board

try:
    for week in driver.find_elements(By.XPATH,"//div[@class='u-max-width-970 lrv-u-margin-lr-auto']/div[2]/div/ul/li[4]/ul/li[6]/span"):
        weeks.append(week.text)
except Exception:
    weeks.append('-')
    
driver.quit()

In [5]:
df_5=pd.DataFrame({'Song Name':song,'Artist Name':artist,'Last Week Rank':lw_rank,'Peak Rank':peak_rank,'Weeks On Board':weeks})
df_5

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
0,Texas Hold 'Em,Beyonce,2,1,2
1,Lovin On Me,Jack Harlow,1,1,15
2,Lose Control,Teddy Swims,5,2,28
3,Carnival,Kanye West & Ty Dolla $ign Featuring Rich The...,3,3,2
4,Beautiful Things,Benson Boone,4,3,5
...,...,...,...,...,...
95,Talking,Kanye West & Ty Dolla $ign Featuring North West,30,30,2
96,Monaco,Bad Bunny,97,5,19
97,Where It Ends,Bailey Zimmerman,-,32,8
98,Wondering Why,The Red Clay Strays,-,71,8
99,Northern Attitude,Noah Kahan With Hozier,75,37,12

## Question 6

In [56]:
#automating chrome browser
driver=webdriver.Chrome()
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
driver.maximize_window()

In [57]:
book=[]
author=[]
volume=[]
publisher=[]
genre=[]

WebDriverWait(driver, 4).until(EC.presence_of_element_located((By.XPATH,"/html/body/div/div[2]/div[2]/div/div[2]/div/table/tfoot")))

#scraping book Name
try:
    for name in driver.find_elements(By.XPATH,"//div[@class='embed block']/table/tbody/tr/td[2]"):
        book.append(name.text)
except Exception:
    book.append('-')
    
        
#scraping author name

try:
    for art in driver.find_elements(By.XPATH,"//div[@class='embed block']/table/tbody/tr/td[3]"):
        author.append(art.text)
except Exception:
    author.append('-')
    
#scraping volumes sold

try:
    for vol in driver.find_elements(By.XPATH,"//div[@class='embed block']/table/tbody/tr/td[4]"):
        volume.append(vol.text)
except Exception:
    volume.append('-')
    
#scraping publisher

try:
    for pub in driver.find_elements(By.XPATH,"//div[@class='embed block']/table/tbody/tr/td[5]"):
        publisher.append(pub.text)
except Exception:
    publisher.append('-')
    
#scraping genre

try:
    for gen in driver.find_elements(By.XPATH,"//div[@class='embed block']/table/tbody/tr/td[6]"):
        genre.append(gen.text)
except Exception:
    genre.append('-')
    
driver.quit()

In [58]:
df_6=pd.DataFrame({'Book Name':book,'Author Name':author,'Volume Sold':volume,'Publisher':publisher,'Genre':genre})
df_6

,Book Name,Author Name,Volume Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

## Question 7

In [59]:
#automating chrome browser
driver=webdriver.Chrome()
driver.get("https://www.imdb.com/list/ls512407256/")
driver.maximize_window()

In [60]:
series=[]
span=[]
gen=[]
runtime=[]
ratings=[]
votes=[]

#scraping series Name
try:
    for name in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a"):
        series.append(name.text)
except Exception:
    series.append('-')
    
        
#scraping year span

try:
    for t in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/span[2]"):
        span.append(t.text)
except Exception:
    span.append('-')
    
#scraping runtime

try:
    for run in driver.find_elements(By.XPATH,"//span[@class='runtime']"):
        runtime.append(run.text)
except Exception:
    runtime.append('-')
    
#scraping ratings

try:
    for rate in driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']/span[@class='ipl-rating-star__rating']"):
        ratings.append(rate.text)
except Exception:
    ratings.append('-')
    
#scraping genre

try:
    for genre in driver.find_elements(By.XPATH,"//span[@class='genre']"):
        gen.append(genre.text)
except Exception:
    gen.append('-')
    
#scraping votes

try:
    for vote in driver.find_elements(By.XPATH,"//span[@name='nv']"):
        votes.append(vote.text)
except Exception:
    votes.append('-')    
    
driver.quit()

In [61]:
df_7=pd.DataFrame({'Series Name':series,'Year Span':span,'Genres':gen,'Run Time':runtime,'Ratings':ratings,'Votes':votes})
df_7

,Series Name,Year Span,Genres,Run Time,Ratings,Votes
0,Game of Thrones,(2011‚Äì2019),"Action, Adventure, Drama",55 min,9.2,"2,262,743"
1,Stranger Things,(2016‚Äì2025),"Drama, Fantasy, Horror",51 min,8.7,"1,320,608"
2,The Walking Dead,(2010‚Äì2022),"Drama, Horror, Thriller",44 min,8.1,"1,072,366"
3,13 Reasons Why,(2017‚Äì2020),"Drama, Mystery, Thriller",60 min,7.5,"313,495"
4,The 100,(2014‚Äì2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"273,435"
...,...,...,...,...,...,...
95,True Detective,(2014‚Äì ),"Crime, Drama, Mystery",55 min,8.9,"645,816"
96,Teen Wolf,(2011‚Äì2017),"Action, Drama, Fantasy",41 min,7.7,"162,075"
97,The OA,(2016‚Äì2019),"Drama, Fantasy, Mystery",60 min,7.8,"114,891"
98,The Simpsons,(1989‚Äì ),"Animation, Comedy",22 min,8.7,"433,124"
99,Desperate Housewives,(2004‚Äì2012),"Comedy, Drama, Mystery",45 min,7.6,"138,702"

## Question 8

In [105]:
#automating chrome browser
driver=webdriver.Chrome()
driver.get("https://archive.ics.uci.edu/")
driver.maximize_window()

In [107]:
#automating path
dataset_tab=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]")
dataset.click()
sleep(2)
expand_tab=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[2]")
expand_tab.click()

In [111]:
ds=[]
dt=[]
task=[]
ft_type=[]
instance=[]
ft=[]
year=[]


#scraping dataset Name
try:
    for name in driver.find_elements(By.XPATH,"//a[@class='link-hover link text-xl font-semibold']"):
        ds.append(name.text)
except Exception:
    ds.append('-')


#scraping datatype

try:
    for t in driver.find_elements(By.XPATH,"//div[@class='col-span-1 flex w-full flex-col gap-4 p-4']/div[2]/div/div/div[2]/div/div[2]/span"):
        dt.append(t.text)
except Exception:
    dt.append('-')

#scraping task

try:
    for k in driver.find_elements(By.XPATH,"//div[@class='col-span-1 flex w-full flex-col gap-4 p-4']/div[2]/div/div/div[2]/div/div[1]/span"):
        task.append(k.text)
except Exception:
    task.append('-')

#scraping feature type

try:
    for feat in driver.find_elements(By.XPATH,"//div[@class='flex flex-col gap-1']/div/div[2]/div/table/tbody/tr/td[2]"):
        ft_type.append(feat.text)
except Exception:
    ft_type.append('-')

#scraping instances

try:
    num = driver.find_elements(By.XPATH,"//div[@class='col-span-1 flex w-full flex-col gap-4 p-4']/div[2]/div/div/div[2]/div/div[3]/span")
    for n in num: 
        instance.append(n.text)
except Exception:
    instance.append('-')

#scraping features

try:
    feature= driver.find_elements(By.XPATH,"//div[@class='col-span-1 flex w-full flex-col gap-4 p-4']/div[2]/div/div/div[2]/div/div[4]/span")
    for f in feature:   
        ft.append(f.text)
except Exception:
    ft.append('-')

#scraping year

try:
    for y in driver.find_elements(By.XPATH,"//div[@class='flex flex-col gap-1']/div/div[2]/div/table/tbody/tr/td[3]"):
        year_=y.text
        #using regex findall(), to scrap year from date 
        match=re.findall(r'\b\d{4}\b',year_)
        year.append(match)
except Exception:
    year.append('-')    


driver.quit()

In [112]:
df_8=pd.DataFrame({'Dataset Name':ds,'Data Type':dt,'Task':task,'Attribute Type':ft_type,'No of Instances':instance,'No of Attribute':ft,'Year':year})
df_8

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No of Attribute,Year
0,Iris,Tabular,Classification,Real,150 Instances,4 Features,[1988]
1,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13.61K Instances,16 Features,[2020]
2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Features,[1988]
3,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K Instances,7 Features,[2019]
4,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features,[1996]
5,Raisin,Multivariate,Classification,"Real, Integer",900 Instances,8 Features,[2023]
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,30 Features,[1995]
7,Wine,Tabular,Classification,"Integer, Real",178 Instances,13 Features,[1991]
8,Wine Quality,Multivariate,"Classification, Regression",Real,4.9K Instances,12 Features,[2009]
9,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",1 Instances,20 Features,[]
10,Car Evaluation,Multivariate,Classification,Categorical,1.73K Instances,6 Features,[1997]
11,Bank Marketing,Multivariate,Classification,"Categorical, Integer",45.21K Instances,17 Features,[2012]
12,Mushroom,Multivariate,Classification,Categorical,8.12K Instances,22 Features,[1987]
13,Abalone,Tabular,"Classification, Regression","Categorical, Integer, Real",4.18K Instances,8 Features,[1995]
14,Student Performance,Multivariate,"Classification, Regression",Integer,649 Instances,33 Features,[2014]
15,Census Income,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features,[1996]
16,Online Retail,"Multivariate, Sequential, Time-Series","Classification, Clustering","Integer, Real",541.91K Instances,8 Features,[2015]
17,Automobile,Multivariate,Regression,"Categorical, Integer, Real",205 Instances,25 Features,[1987]
18,Statlog (German Credit Data),Multivariate,Classification,"Categorical, Integer",1K Instances,20 Features,[1994]
19,Breast Cancer,Multivariate,Classification,Categorical,286 Instances,9 Features,[1988]
20,Auto MPG,Multivariate,Regression,"Real, Categorical, Integer",398 Instances,7 Features,[1993]
21,Breast Cancer Wisconsin (Original),Multivariate,Classification,Integer,699 Instances,9 Features,[1992]
22,Spambase,Multivariate,Classification,"Integer, Real",4.6K Instances,57 Features,[1999]
23,Predict Students' Dropout and Academic Success,Tabular,Classification,"Real, Categorical, Integer",4.42K Instances,36 Features,[2021]
24,Glass Identification,Multivariate,Classification,Real,214 Instances,9 Features,[1987]